<!doctype html>

<html xmlns:th="www.thymeleaf.org">
<title>Calender Event</title>
<head>
<th:block th:insert="~{admin/fragment/fragment :: css}"></th:block>
</head>


<body>

	<div id="wrapper">
		<div class="overlay"></div>
		<!-- Sidebar Start -->

		<!-- Sidebar-wrapper -->


		<!-- Page Content -->
		<div id="page-content-wrapper" class="toggled">
			<div id="content">
				<th:block th:insert="~{admin/fragment/fragment :: sidebar}"></th:block>
				<div class="container-fluid p-0 px-lg-0 px-md-0">
					<!-- Topbar -->
					<th:block th:replace="~{admin/fragment/fragment :: topbar}"></th:block>
					<!-- End of Topbar -->

					 <!-- Begin Page Content -->
                    <div class="container-fluid px-lg-4">
                        <div class="row">
                            <!--    Form start -->
                            <div class="col-md-12  mt-4">
                                <div class="card  ">
                                    <div class="container ml-0 pb-3">
                              
							  <a  th:href="@{'/admin/calender-event?month='+${month_id}}"  class="float-left btn btn-sm btn-info mt-0  "><i
											class="fas fa-arrow-left"></i> Back</a>
                                </div>
                                    <div class="box box-primary">
                                        <h1 class="h3 mb-0 text-dark-800 float-left ml-5">Add Event Title</h1>
                                        <!-- form start -->
                                        <form class="ml-5 mr-5" role="form" th:action="@{'/admin/calendar/title/save'}" method="post" th:object="${calendarTitle}">
                                          
                                          <input type="hidden" th:field="*{id}">
                                          <div class="box-body row mt-4">
                                            
                                               <input type="hidden" th:field="*{day}" >
                                               <input type="hidden" th:field="*{year}" >
                                               <input type="hidden" th:value="${month_id}" name="month_id" >
                                               

                                            
                                              <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label for="exampleInputTextarea1">Title (<samll>must be short for calendar</samll>)</label>
                                                    <input type="text" maxlength = "30" class="form-control" th:field="*{title}" >
                                                </div>
                                            </div>
                                           

                                            <!-- /.box-body -->

                                            <div class="box-footer mb-5 ml-3">
                                                <button type="submit" class="btn btn-primary mt-2">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.box -->
                                </div>
                            </div>
                        </div>
					
				</div>
				<!-- container-fluid -->
			</div>
		</div>
	</div>
	<!--page-content-wrapper -->
	</div>
	<!--wrapper -->


	<!-- js -->
	<th:block th:insert="~{admin/fragment/fragment :: js}"></th:block>

	<!-- end js -->


</body>

</html>